.idea
/__pycache__
/tests/__pycache__
/tests/css_archiving_format/__pycache__
/tests/archival_office/__pycache__
/tests/css_data_interchange_format/__pycache__
/tests/cms_data_interchange_format/__pycache__
